<body>
  <section id="banner" style="margin-top: 0em; margin-bottom: 3em;">
    <img src="../../../../assets/img/Cloud_banner.jpg" class="img-fluid" alt="...">
    
  </section>

<section id="img" style="margin-bottom: 3em;">
  <div class= "container text-center">
<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../../../assets/img/grano.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../../../assets/img/650_1200.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> 
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../../../assets/img/450_1000.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">asfasfafs</h5>
        <p class="card-text">Some quick example text to builddadsa and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div> 
  </div>
</div>
</div>

</section> 

<section id="cartas">
  <div class= "container text-center">
 <div class="row">
 <div style="width: 30%; background-color: black;"> 
  <div class="card" style="width: 20rem; background-color: black;">
    
      <div class="card-body">
      
        <img src="../../../../assets/img/Untitled-300-x-300-px.png" class="card-img-top" alt="...">  
      
    </div>
  </div> 
 </div>
 <div class="col" style="background-color: red;"> 
  <div class="card" style="width: 90%; background-color: red;">
    <div class="card-body">
      <h5 class="card-title">titulo</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro corrupti eligendi tempore nisi, ex autem doloribus dolorem repudiandae libero? Qui adipisci ab, incidunt omnis aperiam explicabo nemo soluta ipsa repellendus?</p>
    
    </div>
  </div> 
 </div>

 </div>
 <div class="row">
  <div style="width: 70%; background-color: red;"> 
   <div class="card" style="width: 90%; background-color: red;">

     <div class="card-body">
       <h5 class="card-title">card title</h5>
       <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum maxime ratione magnam odio enim natus, illo libero at suscipit quos veritatis voluptatum quod ipsum! Velit ducimus aliquam sed molestiae. Excepturi.</p>
     </div>
   </div> 
  </div>
  <div class="col" style="background-color: black;"> 
   <div class="card" style="width: 18rem; background-color: black;">
     <div class="card-body">
      <img src="../../../../assets/img/Best-espresso-drinks-px-1200-01-300x300.jpg" class="card-img-top" alt="...">  
     </div>
   </div> 
  </div>
 
  </div>
</div>
</section>

</body>